body {
  background-image: url("bkg.jpeg");
  background-size: cover;
  background-position: center center;
}

body {
  font-family: sans-serif;
}

header {
  text-align: center;
}

.mylogo {
  width: 100px;
  height: 100px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

nav {
  float: right;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 17px;
}


a:hover {
  color: rgb(213, 57, 1);
  transition: 0.3s;    
  transform: translateY(-0.1em);
}

main {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.download-button {
  font-size: clamp(12px, 2vw, 16px);
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}


section {
  margin-bottom: 20px;
}

.personalinfo {
  font-weight: bold;
}

.profile {
  margin-top: 20px;
}

.education,
.experience {
  margin-top: 20px;
}

.ed1,
.ed2,
.ex1,
.ex2,
.ex3 {
  margin-bottom: 10px;
}

.date1,
.date2,
.date3,
.date4 {
  font-size: 12px;
}

footer {
  margin-top: 0%;
  background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);

  color: #fff;
  text-align: center; /* Center the content within the footer */
  padding: 2rem 0; /* Adjust padding as needed */
  position: relative;
  top: 6em;
}

footer img {
  max-width: 250px;
  height: auto;
  display: block; /* Center the logo horizontally within the footer */
  margin: 0 auto 1rem; /* Add margin at the bottom for spacing */
  margin-bottom: -1.5%;
}

.footer-links, .footer-social {
  display: flex;
  justify-content: center; /* Center the content horizontally */
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem; /* Add margin between the links */
}

.footer-social a {
  margin: 0 1rem; /* Add margin between the social icons */
  margin-top: 2%;
}

.footer-copyright {
  margin-top: 2rem;
}


.dark-mode {
  background-color: black;
  color: white;
}


