

body {

  background-color: rgb(242, 240, 238);
}

.header {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;

  background-color: rgba(247, 200, 138, 0.566);
}

img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  float: left;
  margin-left: 100px;
  margin-top: 12px;
}

.personalinfo {
  margin-left: 0px;
  font-weight: bold;
  margin-top: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

}

.personal {
  margin-left: 19%;
}

.email {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: medium;
}


.profile {
  margin-left: 8%;
  margin-top: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.container {
  width: 1000px;
  margin-left: 14%;
}

.education , .skills {
  margin-left: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin-top: 50px;
}

.ed1,
.ed2,
.ex1, .ex2, .d2  {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.date1,
.date2,
.date3 , .date4 , .skill {
  text-align: left;
  width: 30%;
  margin-left: 14%;
}

.school1,
.school2 {
  text-align: center;
  width: 35%;
  margin-left: 10px;
}

.experience , .cont {
  margin-left: 8%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.work1 , .work2{
  text-align: left;
  width: 30%;

}

.descriptionw1 {
  text-align: left;
  width: 30%;
  margin-left: 12%;

}


.d2 {
  text-align: left;
  width: auto;
  margin-left: 42%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -10px;
}

.d3 {
  text-align: left;
  width: auto;
  margin-left: 42%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -40px;
}



.scale {
  position: relative;
  width: 200px;
  height: 20px;
  background-color: burlywood;
  border-radius: 10px;
  align-items: center;
  display: flex;

}

.pointer {
  position: absolute;
  top: -10px;
  left: 80%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid rgb(73, 74, 65);
  transform: translateX(-50%) rotate(180deg);
}


.proficiency-level {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.proficiency-level > div {
  flex: 1;
  text-align: center;
  font-size: 12px;
  color: #555;
}

.level-1 {
  color: #f44336;
}

.level-5 {
  color: #4caf50;
}

.proficiency {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  margin-left: 25%;
  color: aliceblue  ;
  font-style: italic;
font-size: large;
text-align: center;
margin: auto;
margin-top: -3px;

}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info img {
  margin-right: 10px;
}

.contact{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    margin-left: 10%;
}

a{
  text-decoration: none;
  color: rgb(11, 85, 235);
      
}
